/* Work Sans Font cdn */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables */
:root {
    --primary-color: #FF900E;
    --bg-color: rgba(255, 144, 14, 0.1);
    --dark-1-color: rgb(19, 19, 19);
    --dark-2-color: rgb(66, 66, 66);
    --dark-3-color: rgb(114, 114, 114);
}

/* Container size */
.container {
    width: 100%;
    max-width: 1380px;
    margin: auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

.btn {
    padding: 20px 25px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Header styles */
header {
    background-color: var(--bg-color);
}

/* Navigation container styles */
.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-container h1 {
    color: var(--dark-1-color);
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul {
    list-style: none;
    justify-content: center;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-2-color);
    font-weight: bold;
    font-size: 1.1rem;

}

/* Hero section styles */
.hero-container {
    flex-direction: column;
    text-align: center;
    padding: 102px 0 45px 0;
}

.display-block {
    display: block;
}

.hero-container h2 {
    font-size: 4rem;
    color: var(--dark-1-color);
    font-weight: 700;
}

.hero-container p {
    color: var(--dark-3-color);
    margin: 32px auto;
    max-width: 868px;
}

.hero-container img {
    margin-top: 45px;
    width: 100%;
}


/* Team section styles */
.team-container {
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin: 85px auto 130px;
    padding: 0 50px;
}

/* team img container styles */
.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-top: 60px; */
}

.img-container img {
    width: 100%;
    border-radius: 8px;
}

/* Team text container styles */
.team-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.title-muted {
    color: var(--dark-3-color);
}

.title-main {
    color: var(--dark-1-color);
}

.title-highlight {
    color: var(--primary-color);
}

.team-container p {
    color: var(--dark-3-color);
    margin: 24px 0 32px;
    max-width: 537px;
}


/* Features section styles */
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 168px;
    gap: 146px;
}

.features-title-content {
    border-left: 4px solid var(--primary-color);
}

.features-heading {
    color: var(--dark-1-color);
    font-size: 2.8rem;
    font-weight: bold;
    padding-left: 16px;
}

.features-subheading {
    color: var(--dark-3-color);
    margin: 24px 0 30px;
}

.features-boxes {
    flex-direction: column;
    gap: 20px;
}

.feature-box {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
}

.feature-box h3 {
    color: var(--dark-1-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px
}

.feature-box p {
    color: var(--dark-3-color);
}

.features-container img {
    width: 100%;
    border-radius: 8px;
}

.features-image-container {
    position: relative;
}

.display-block-btn {
    display: block;
}

.experience-btn {
    position: absolute;
    bottom: -40px;
    left: -100px;
    padding: 46px 42px;
    font-size: 1.2rem;
}

.experience-badge {
    font-size: 2.8rem;
}


/* Facts section styles */
.facts-container h2, .sponsor-container-section h2 {
    font-size: 2.8rem;
    color: var(--dark-1-color);
    font-weight: bold;
    margin-bottom: 24px;
}

.facts-container p {
    color: var(--dark-3-color);
    max-width: 542px;
}

.facts-cards-container {
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 24px;
}

.fact-card {
    text-align: center;
    padding: 59px 53px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.fact-card img {
    width: 50%;
}

.fact-card h3 {
    font-size: 2.8rem;
    color: var(--dark-2-color);
}

.fact-card p {
    color: var(--dark-3-color);
}

.display-hidden {
    display: none;
}


/* Sponsor section styles */
.sponsor-container-section {
    text-align: center;
    margin-top: 180px;
}

.sponsor-container-section p {
    color: var(--dark-3-color);
    max-width: 542px;
    margin: auto;
}

.sponsor-container {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.sponsor-container img {
    width: 10%;
    filter: grayscale(100%);
}

/* Footer styles */
footer{
    background-color: var(--bg-color);
    border-radius: 8px;
}

.copyright-footer {
    margin: 130px 0px 20px;
    text-align: center;
    padding: 39px 0;
}



/* md device responsive */
@media (max-width: 768px) {

    .nav-container,
    .nav-container ul,
    .hero-container,
    .team-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .img-container ,
    .features-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-container {
        padding: 0 20px;
    }

    .experience-btn {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        font-size: 1.2rem;
    }

    .display-block {
        display: inline;
    }
}

/* lg device responsive */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .nav-container,
    .nav-container ul,
    .hero-container {
        padding: 0 20px;
    }

    .hero-container {
        padding: 102px 20px 45px;
    }

    .team-container {
        flex-direction: column;
        padding: 0 20px;
    }

   .img-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .features-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-container {
        padding: 0 20px;
    }

    .experience-btn {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
    }

    .display-block {
        display: inline;
    }

}

/* xl device responsive */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .nav-container
    
     {
        padding: 0 20px;
    }

    .features-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .features-container {
        padding: 0 20px;
    }

    .experience-btn {
        position: absolute;
        width: 100%;
        bottom: 150px;
        left: 0px;
    }
}